.vs/
AttendanceAccessToOracle/obj/AttendanceAccessToOracle.csproj.nuget.dgspec.json
AttendanceAccessToOracle/obj/AttendanceAccessToOracle.csproj.nuget.g.props
AttendanceAccessToOracle/obj/
Helpers/obj/
HRImportData/obj/
AttendanceAccessToOracle/bin/
Helpers/bin/
HRImportData/bin/
AttendanceSQLServerToOracle/bin/
AttendanceSQLServerToOracle/obj/
